{% extends "base.html" %}
{% block title %}Hoteles{% endblock %}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <div class="container">
        <h1>Lista de Hoteles</h1>

        {% for hotel in hoteles %}
            <div class="card border-success" style="border-width: 3px;">
                <div class="row no-gutters text-center">
                    <div class="col-md-4">
                        <!-- Imagen a la izquierda -->
                        <img src="{{url_for('static',filename='img/')}}{{hotel[6]}}" class="card-img img-thumbnail" alt="Imagen del Hotel" style="width: 360px; height: 300px;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body" style="background-color: rgb(177, 220, 248);">
                            <h2 class="card-title">{{ hotel[1] }}</h2>
                            <p class="card-text">{{ hotel[2] }}</p>
                            <p class="card-text"><strong>Precio por habitación:</strong> $ {{ hotel[3] }}</p>
                            <p class="card-text"><strong>Dirección:</strong> {{ hotel[4] }}</p>
                            <p class="card-text"><strong>Disponibilidad en habitaciones:</strong> {{ hotel[5] }}</p>

                        </div>
                        <div class="card-footer text-right" style="background-color: rgb(136, 171, 247);">
                            {% if session.role == 'admin' %}
                                <a href="{{ url_for('hotel.editarHotel', id=hotel[0]) }}" class="btn btn-primary" style="width: 100px;">Editar</a>
                                <a href="{{ url_for('hotel.eliminarHotel', id=hotel[0]) }}" class="btn btn-danger" style="width: 100px;">Eliminar</a>
                            {% endif %}


                            {% if session.role == 'user' %}
                                {% if session.loggedin %}
                                    <!-- <button class="btn btn-outline-danger">
                                        <i class="fas fa-heart"></i> Favoritos
                                    </button> -->
                                    <a href="{{ url_for('carrito.registerCarrito', id=hotel[0])}}" class="btn btn-success">Añadir al carrito</a>
                                {% else %}
                                    <a href="{{ url_for('usuario.login')}}" class="btn btn-success">Añadir al carrito</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}

        <!-- Pagination Links -->
        <div class="d-flex justify-content-center mt-4">
            <nav aria-label="Page navigation example text-center">
                <ul class="pagination">
                    {{ pagination.links }}
                </ul>
            </nav>
        </div>
        
        
    </div>


    </div>

{% endblock %}
