{% extends "base.html" %}
{% block title %}Reservas{% endblock %}
{% block content %}

<div class="container mt-5">
    <h1 class="text-center">Reservas</h1>
    <table class="table table-bordered mt-4">
        <thead class="thead-dark">
            <tr>
                <th>Id reserva</th>
                <th>Nombre del Hotel</th>
                <th>Cantidad de Habitaciones</th>
                <th>Fecha de Inicio</th>
                <th>Fecha de Salida</th>
                <th>Precio Hotel</th>
                <th>Días Totales</th>
                <th>Precio Total</th>
                <th>Acciones</th>  <!-- Agregamos una nueva columna para las acciones -->
            </tr>
        </thead>
        <tbody>
            {% for reserva in reservas %}
                <tr>
                    <td>{{ reserva['id_res'] }}</td>
                    <td>{{ reserva['nom_hotel'] }}</td>
                    <td>{{ reserva['cant_hab'] }}</td>
                    <td>{{ reserva['fecha_ini'] }}</td>
                    <td>{{ reserva['fecha_sal'] }}</td>
                    <td>${{ reserva['precio_hot'] }}</td>
                    <td>{{ reserva['dias_tot'] }}</td>
                    <td>${{ reserva['precio_tot'] }}</td>
                    <td>
                        <a href="{{ url_for('admin.eliminar_readmin', id=reserva[0])}}" class="btn btn-danger">Eliminar</a>
                        
                    </td>
                </tr>
                
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
