{% extends "base.html" %}
{% block title %}Laguna de la cocha{% endblock %}
{% block content %}

<div class="container mt-5">
    <h1 >Laguna de la cocha</h1>
    <div class="row">
        <!-- Video -->
        <div class="col-md-6">
            <video width="100%" height="450px" controls>
                <source src="{{ url_for('static', filename='video/laguna.mp4')}}" type="video/mp4">
                Tu navegador no admite el elemento de video.
            </video>
        </div>

        <!-- Mapa -->
        <div class="col-md-6">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63825.80907355302!2d-77.19177520112103!3d1.
                0773083215478287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e28d6579db53047%3A0x7b581223b6997e46!2s
                Laguna%20De%20La%20Cocha!5e0!3m2!1ses-419!2sco!4v1700060173474!5m2!1ses-419!2sco"
                 width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
        </div>
    </div>
</div>
{% endblock %}