{% extends "base.html" %}
  
{% block title %}Profile{% endblock %}
  
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylePerfil.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleresta.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
<h1>Profile Page</h1>
<div>
    <p>Your account details are below:</p>
    <table>
        <tr>
            <td>Name:</td>
            <td>{{ account['fullname'] }}</td>
        </tr>
  <tr>
            <td>Username:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
    </table>
</div>
{% endblock %}