{% extends "base.html" %}
  
{% block title %}Perfil{% endblock %}
  
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylePerfil.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleresta.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
<h1>Pagina de perfil</h1>
<div>
    <p>Los detalles de su cuenta estan a continuación</p>
    <table>
        <tr>
            <td>Nombre:</td>
            <td>{{ account['fullname'] }}</td>
        </tr>
  <tr>
            <td>Usuario:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
    </table>
</div>
{% endblock %}