<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% extends "base.html" %}
    {% block title %}Registro{% endblock %}
    {% block content %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styleregister.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    </head>
<body>
    <div class="container">
        <div class="row main">
            <div class="main-login main-center">
                <h5>Registrar nuevo usuario</h5>
                <form method="post" autocomplete="off">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.fullname.label }} {{ form.fullname(class="form-control") }}
                        {% for error in form.fullname.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.email.label }} {{ form.email(class="form-control") }}
                        {% for error in form.email.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.username.label }} {{ form.username(class="form-control") }}
                        {% for error in form.username.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.password.label }} {{ form.password(class="form-control") }}
                        {% for error in form.password.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.confirm_password.label }} {{ form.confirm_password(class="form-control") }}
                        {% for error in form.confirm_password.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.submit(class="form-control btn btn-primary") }}
                        <p style="padding:5px;">
                        <a href="{{ url_for('login') }}" class="btn btn-dark">Login</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
{% endblock %}
</html>
