{% extends "base.html" %}
{% block title %}Suchi{% endblock %}
{% block content %}

<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/styleresta.css') }}"> -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script src="https://maps.googleapis.com/maps/api/js?key=TU_CLAVE_API&callback=initMap" async defer></script>

<div class="container">
        <div class="texto">
            <h1><span class="rojo">Informate </span> Sushi Lounge Cocina Fusion</h1>
        </div>
    </div>
    
    <!-- Mosaico -->
    <div class="container">
        <div class="mosaic">
            <div class="image-container large">
                <img src="{{ url_for('static', filename='img/restaurantes/collage1/img2.jpg')}}" alt="Imagen 1">
            </div>
            <div class="image-container medium">
                <img src="{{ url_for('static', filename='img/restaurantes/collage1/img4.jpg')}}" alt="Imagen 2">
            </div>
            <div class="image-container small">
                <img src="{{ url_for('static', filename='img/restaurantes/collage1/img1.jpg')}}" alt="Imagen 3">
            </div>
            <div class="image-container small">
                <img src="{{ url_for('static', filename='img/restaurantes/collage1/img3.jpg')}}" alt="Imagen 4">
            </div>
            <div class="image-container small">
                <img src="{{ url_for('static', filename='img/restaurantes/collage1/img5.jpg')}}" alt="Imagen 5">
            </div>
            <div class="image-container small">
                <img src="{{ url_for('static', filename='img/restaurantes/collage1/img6.jpg')}}" alt="Imagen 6">
            </div>
            <div class="image-container small">
                <img src="{{ url_for('static', filename='img/restaurantes/collage1/img7.jpg')}}" alt="Imagen 7">
            </div>
            <div class="image-container small">
                <img src="{{ url_for('static', filename='img/restaurantes/collage1/img8.jpg')}}" alt="Imagen 8">
            </div>
            <!-- Puedes agregar más bloques según sea necesario -->
        </div>
    </div>
    
    <!-- Cards -->
    <!-- Cards -->
    <div class="container" style="margin-top: 30px;">
        <div class="row">
                <div class="col-md-4">
                        <div class="card">
                            <div class="card-body" style="height: 400px;">
                                <h4 class="card-title">CALIFICACIONES RESTAURANTE</h4>
                                <p>Calificacion general</p>
                                <form>
                                <p class="clasificacion">
                                        <input id="radio1" type="radio" name="estrellas" value="5">
                                        <label for="radio1">★</label>
                                        <input id="radio2" type="radio" name="estrellas" value="4" checked>
                                        <label for="radio2">★</label>
                                        <input id="radio3" type="radio" name="estrellas" value="3" >
                                        <label for="radio3">★</label>
                                        <input id="radio4" type="radio" name="estrellas" value="2">
                                        <label for="radio4">★</label>
                                        <input id="radio5" type="radio" name="estrellas" value="1">
                                        <label for="radio5">★</label> 4
                                </p> 
                                </form>

                                <div class="ratings">
                                <p class="card-text"><strong>CALIFICACIONES INDIVIDUAL:</strong></p>
                                    <div class="rating">
                                        🍔
                                        <span class="label">Comida</span>
                                        <span class="value">4.5</span>
                                    </div>
                                    <div class="rating"><br>
                                        🔔
                                        <span class="label">Servicio</span>
                                        <span class="value">4.0</span>
                                    </div>
                                    <div class="rating"><br>
                                        💰
                                        <span class="label">Calidad/precio</span>
                                        <span class="value">4.0</span>
                                    </div>
                                    <div class="rating"><br>
                                        🌟
                                        <span class="label">Ambiente</span>
                                        <span class="value">4.0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
    
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body" style="height: 400px;">
                        <h4 class="card-title">DETALLES DEL RESTAURANTE</h4>
                        <p class="card-text"><strong>RANGO DE PRESIOS:</strong></p>
                        <p>Precio: $20,000 - $40,000</p>
                        <p class="card-text"><strong>TIPOS DE COMIDA:</strong></p>
                        <p> Japonesa, Mariscos, Sushi, Asiática, Fusión</p>
                        <p class="card-text"><strong>DIETAS ESPECIALES:</strong></p>
                        <p> Apto para vegetarianos, Opciones veganas</p><br><br>
                        <p class="card-text"><strong>Gran variedad en Comidas</strong>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body" style="height: 400px;">
                        <h4 class="card-title">UBICACION E INFORMACION </h4>
                                <!-- Embed de Google Maps con la ubicación especificada -->
                                <iframe
                                    width="340"
                                    height="150"
                                    style="border:0"
                                    loading="lazy"
                                    allowfullscreen
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.723825667844!2d-77.290642!3d1.220008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e696c98a4f82eaf%3A0x70ff6037a189c10d!2sCarrera%2040A%20%2320-40%2C%20Pasto%2C%20Nari%C3%B1o%2C%20Colombia!5e0!3m2!1sen!2sus!4v1637710418257!5m2!1sen!2sus"
                                ></iframe><br><br>
                    
                                <i class="fas fa-map-marker-alt"></i> Carrera 40A # 20 40, local 6, Pasto 520004 Colombia<br><br>
                                <i class="fas fa-phone"></i> +57 313 7397415 <br><br>
                                <i class="fas fa-motorcycle"></i> ¡Recuerda tenemos domicilios!
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 20px;" id="contenedor">
        <h2>Preguntas frecuentes sobre Sushi Lounge Cocina Fusion</h2>

        <details>
            <summary>¿Sushi Lounge Cocina Fusion ofrece comida para llevar?</summary>
            <div>
                <p>Sí, Sushi Lounge Cocina Fusion ofrece servicio de comida para llevar.</p>
            </div>
        </details>

        <details>
            <summary>¿Sushi Lounge Cocina Fusion ofrece entrega a domicilio?</summary>
            <div>
                <p>Sí, Sushi Lounge Cocina Fusion ofrece servicio de entrega a domicilio.</p>
            </div>
        </details>

        <details>
            <summary>¿Sushi Lounge Cocina Fusion está implementando alguna medida de seguridad por el COVID-19?</summary>
            <div>
                <p>Sí, Sushi Lounge Cocina Fusion está tomando precauciones contra el COVID-19. Hay una lista completa disponible en la sección "precauciones de seguridad" de esta página.</p>
            </div>
        </details>

        <details>
            <summary>¿Cómo está calificado Sushi Lounge Cocina Fusion?</summary>
            <div>
                <p>Sushi Lounge Cocina Fusion está calificado por los viajeros de Tripadvisor en las siguientes categorías:
                    <ul>
                        <li>Comida: 4.5</li>
                        <li>Servicio: 4</li>
                        <li>Calidad/precio: 4</li>
                        <li>Ambiente: 5</li>
                    </ul>
                </p>
            </div>
        </details>
    </div>
   

</div>
    
    
    
    
    
    
  
	    
{% endblock %}