<!DOCTYPE html>
<html lang="es">
<head>
  <title>Hola, que tal 
    {% if nombre is not none -%}
       {{nombre}}
    {% else -%}
        Desconocido
    {% endif -%}
  </title>
  <meta charset="utf-8" />
</head>
 
<body>
    <header>
       <h1>Website by Jaime</h1>
       <h1>Bienvenidos</h1>
    </header>

    <h2>Vamos a saludar</h2>
    {% if nombre %}
      <h1>Hola {{nombre|title}}</h1>
      <p>¿Cómo estás?</p>
    {% else %}
      <p>No has indicado un nombre</p>
    {% endif %}
</body>
</html>