
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{% block title %}{% endblock %}</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/styleresta.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

  </head>
  
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-custom">

      <div class="container-fluid">
        <div class="container">
          <img src="{{ url_for('static', filename='img/nariño.jpg')}}" alt="" width="300px" >
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse justify-content-between" >
          <ul class="navbar-nav">
            <li class="nav-item custom-margin border border-3 border-success rounded p-2 custom-box">
              <a class="nav-link fw-semibold fs-5 nav-text" aria-current="page" href="{{url_for('home.inicio')}}">Inicio<i class="bi bi-house-door fs-3 me-2"></i></a>
            </li>
            <li class="nav-item custom-margin border border-3 border-success rounded p-2 custom-box">
              <a class="nav-link fw-semibold fs-5 nav-text" href="{{url_for('hotel.hoteles')}}">Hoteles<i class="bi bi-building fs-3 me-2"></i></a>
            </li>
            <li class="nav-item custom-margin border border-3 border-success rounded p-2 custom-box">
              <a class="nav-link fw-semibold fs-5 nav-text " href="{{url_for('restaurante.restaurantes')}}">Restaurantes <i class="bi bi-star fs-3 me-2"></i></a>
            </li>
            <li class="nav-item dropdown custom-margin border border-success border-3 rounded p-2 custom-box">
              <a class="nav-link dropdown-toggle fw-semibold fs-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Pueblos
              </a>
              <ul class="dropdown-menu">
                <!-- <li><a class="dropdown-item" >Iniciar sesión</a></li> -->
                <li><a class="dropdown-item" href="{{url_for('pueblos.sandona')}}">Sandona</a></li>
                <li><a class="dropdown-item" href="">Union </a></li>
                <li><a class="dropdown-item" href="">Tambo </a></li>     
                <li><a class="dropdown-item" href="">Samaniego </a></li>     
                <li><a class="dropdown-item" href="">Ancuya</a></li>     
                <li><a class="dropdown-item" href="">San Pablo</a></li>                   
              </ul>
            </li>
    
            <li class="nav-item dropdown custom-margin border border-success border-3 rounded p-2 custom-box">
              <a class="nav-link dropdown-toggle fw-semibold fs-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Usuario
              </a>
              <ul class="dropdown-menu">
                <!-- <li><a class="dropdown-item" >Iniciar sesión</a></li> -->
                {% if session.loggedin %}
                  <!-- El usuario está iniciado sesión -->
                  <li><a class="dropdown-item" href="{{ url_for('usuario.profile') }}">Perfil</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('usuario.logout') }}">Cerrar Sesión</a></li>
                {% else %}
                <!-- El usuario no está iniciado sesión -->
                <li><a class="dropdown-item" href="{{ url_for('usuario.login') }}">Iniciar Sesión</a></li>
                <li><a class="dropdown-item" href="{{ url_for('usuario.register') }}">Regristrarse</a></li>
                {% endif %}              
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    
    
    {% block content %}{% endblock %}

    <footer class="bg-dark text-white text-center py-3">
      <div id="pieDePagina">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <p>&copy; 2023 Página de Turismo. Todos los derechos reservados.</p>
            </div>
            <div class="col-md-6">
              <div class="redes-sociales">
                <a href="#" target="_blank">Facebook</a>
                <a href="#" target="_blank">Twitter</a>
                <a href="#" target="_blank">Instagram</a>
              </div>
              <div class="enlaces-utiles">
                <a href="#">Términos y Condiciones</a>
                <a href="#">Política de Privacidad</a>
                <a href="#">Contáctanos</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </footer>

  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  </body>
</html>